html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;

}

.container {
  background-color: #fff;
  width: 450px;
  padding: 2em;
  margin: 80px auto 0;
  z-index: 99;
}
