#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  height: 80px;
  padding: 0 2em;
  background-color: #00a087;
  z-index: 100;
}

#nav-bar .logo {
  float: left;
  border-style: none;
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

#nav-bar .header {
  overflow: hidden;
  position: fixed;
  color: #e8fdff;
  font-size: 200%;
  line-height: 80px;
  align-items: center;
}

#nav-bar .compose-button {
  float: right;
  font-weight: 700;
  color: #00a087;
  background-color: #eee;
  border: 1px solid #000;
  width: 125px;
  height: 55px;
  border-radius: 5px;
  margin: 13px 20px 0 0;
  opacity: 0.90;
}

#nav-bar .compose-button:hover {
  color: #000;
  opacity: 1;
}