.container .new-tweet {
  background-color: #eee;
  border: 1px solid #adadad;
  border-radius: 7px;
  padding: 0 10px 35px 10px;
}

.container .new-tweet .counter {
  float: right;
  font-size: 15px;
  font-style: italic;
  margin-top: 4px;
}

textarea {
  width: 100%;
  padding: 5px;
  resize: vertical;
}

h2 {
  text-align: left;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

input {
  float: left;
}

.error {
  position: absolute;
  padding: 5px 0 0 90px;
  margin: 0;
  font-size: 13px;
  color: red;
}