.tweet {
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  opacity: 0.5;
}

.tweet:hover {
  opacity: 1;
}

.tweet header {
  background-color: #eee;
  border-radius: 7px 7px 0 0;
}

.tweet footer {
  border-top: 1px solid #dadada;
}

.tweet header img {
  float: left;
  margin: 10px;
  border-radius: 7px;
}

.tweet header h2 {
  text-align: left;
  border: none;
  margin: 0px;
  padding-top: 15px;
  height: 70px;
  margin-left: 10px;
}

.tweet h4 {
  word-wrap: break-word;
  white-space: initial;
  font-weight: 300;
  padding: 15px;
}

.tweet .handle {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 15px;
}

.tweet .time-stamp {
  text-align: left;
  font-size: 13px;
  margin: 5px;
  margin-left: 10px;
  bottom: 0;
}

.tweet .icons {
  position: relative;
  float: right;
  color: #00a087;
  padding: 3px;
  opacity: 0;
}

.tweet:hover .icons {
  opacity: 1;
}

.tweet .icons svg {
  margin: 2px;
}