@import "variables";
@import "reset";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $darkBlue;
  background-color: $lightGrey;
  font-family: 'Roboto Condensed', sans-serif;
}

#nav-bar {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 2em;
  background-color: $turquoise;
  z-index: 100;

  #logo {
    float: left;
    border-style: none;
    height: 80px;
    width: 80px;
    margin-right: 10px;
  }

  #header {
    overflow: hidden;
    position: fixed;
    color: #e8fdff;
    font-size: 200%;
    line-height: 80px;
    align-items: center;
  }

  #compose-button {
    float: right;
    font-weight: 700;
    color: #00a087;
    background-color: #eee;
    border: 1px solid #000;
    width: 125px;
    height: 55px;
    border-radius: 5px;
    margin: 13px 20px 0 0;
    opacity: 0.90;

     &:hover {
      color: #000;
      opacity: 1;
    }
  }
}

.container {
  background-color: $white;
  width: 450px;
  padding: 2em;
  margin: 80px auto 0;
  z-index: 99;

  .new-tweet {
    background-color: $lightGrey;
    border: 1px solid $darkGrey;
    border-radius: 7px;
    padding: 0 10px 35px 10px;
  }

  .title {
    text-align: left;
    border-bottom: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
  }

  textarea {
    width: 100%;
    padding: 5px;
    resize: vertical;
    margin-top: 10px;
  }

  #tweetInput {
    float: left;
  }

  .counter {
    float: right;
    font-size: 15px;
    font-style: italic;
    margin-top: 4px;
  }

  .error {
    position: absolute;
    padding: 5px 0 0 90px;
    margin: 0;
    font-size: 13px;
    color: red;
  }
}

.tweet {
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  header {
    background-color: #eee;
    border-radius: 7px 7px 0 0;

    .handle {
      float: right;
      margin-top: 20px;
      margin-right: 10px;
      font-size: 15px;
    }

    .name {
      text-align: left;
      border: none;
      margin: 0px;
      padding-top: 15px;
      height: 70px;
      margin-left: 10px;
    }

    img {
      float: left;
      margin: 10px;
      border-radius: 7px;
    }
  }

  h4 {
    word-wrap: break-word;
    white-space: initial;
    font-weight: 300;
    padding: 15px;
  }

  footer {
    border-top: 1px solid #dadada;

    .icons {
      position: relative;
      float: right;
      color: #00a087;
      padding: 3px;
      opacity: 0;

      &:hover {
        opacity: 1;
      }

      svg {
        margin: 2px;
      }
    }

    .time-stamp {
      text-align: left;
      font-size: 13px;
      margin: 5px;
      margin-left: 10px;
      bottom: 0;
    }
  }
}